{% extends 'base.html' %}
{% block title %}<title>Ben</title>{% endblock %}
{% block body %}
<h1>Hi guys</h1>
<h2>My name is Benita</h2>
<p>
<h2>Tech Enthusiast 👩‍💻</h2>
I am passionate about exploring the intersection of technology and innovation. I thrive on staying updated with the technologies and trends in my field .

<h2>Student || CSE || BTech</h2>
As of now ,I am in the pursuit of my bachelor's degree in Computer Science and Technology ,with a fervent dedication to exploring the fascinating realms of technology and innovation. 

<h2>Team Coordinator || Chair of IEEE SB YCET || Volunteer Secretary of NSS Unit 151</h2>
Throughout my academic journey, I have wholeheartedly engaged and enthusiastically volunteered in various extracurricular activities, notably taking an active role in IEEE society and NSS Unit. 

<h2>Sports || 🧗‍♀️|| 🤼‍♀️ || 🏃🏻‍♀️||🥋</h2>
<h2>Arts || 🎶 || 👩‍🎨</h2>

</p>
{% endblock %}